{% extends 'base.html' %}

{% block title %}
 Contact Page 
 
{% endblock %}




{% block content %}

 <body class="bg-secondary opacity-45">
        <div  class="text-light text-center mt-5">  
            <h1>Contact me!</h1>
            <p>Feel free to reach out any time!</p>
        </div>
  
    {% if messages %}

        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
        <div class ="contact-container bg-light p-3 mt-4  " style="max-width: 50rem; max-height: 48rem; margin-left: 50px;">
            <div class = "contact-info ">
                <h2>Get in Touch</h2>
                <p><strong>Email:</strong> example@email.com</p>
                <p><strong>Phone:</strong> (123) 456-7890</p>
                <p><strong>Address:</strong> 123 main street, P-town, State, Zip Code</p>
            </div>
            <div class = "contact-form bg-light card  mb-3 mt-4 text-center " style="max-width: 48rem;">
                <h2>Send a Message</h2>
                <form method="post">   
                    
                    {% csrf_token %} 
                    
                    <label for="name">Name:</label>
                    <input class="form-control" type="text" id="name" name="name" required>

                    <label for="email">Email:</label>
                    <input class="form-control " type="email" id="email" name="email" required>

                    <label for="message">Message:</label>
                    <textarea class="form-control" id="message" name="message" rows="5" required></textarea>

                    <button class="btn btn-success pt-4 mt-2 pb-2" type="submit">Send</button>
                </form>
            </div>

        </div>

        <div class="position-absolute p-5 rounded-3 aling-right">
        
        <div class="card p-2 " style="width: 18rem; margin-right: auto;">
                <img src="https://images.unsplash.com/photo-1528154291023-a6525fabe5b4?q=80&w=464&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="bolt" style="border-radius: 50%;" class=" w-80">
        </div>

    </div>
    <div class="card p-2 mt-5 " style="width: 18rem; margin-left: 60%;">
        <img src="https://images.unsplash.com/photo-1587560699334-bea93391dcef?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="bolt" style="border-radius: 50%;" class=" w-80">
        <p class="text-center text-primary-emphasis">Your trust in us inspires us to keep delivering the best service possible</p>
    </div>

    

    

 </body>
{% endblock %}