{% extends 'base.html' %}

{% block title %}
    post ID: {{ single_post.id}}
{% endblock %}

{% block content %}
    <h1>Title: {{ single_post.title }}</h1>
    <h3> Subtitle:{{ single_post.Subtitle}}</h3>
    <span><strong>Aurthor: {{single_post.author}}</strong></span>
    <span>author: {{single_post.created_on}}</span>
    <hr/>
    <P>Body: {{ single_post.body }}</P>
     <hr/>
    <a href="{% url 'post_edit' single_post.id %}" class="bnt btn-secondary">Edit post</a>
    <a href="{% url 'post_delete' single_post.id %}" class="btn btn-danger">Delete post</a>
{% endblock %}