{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Edit Post
{% endblock %}

{% block content %}
 <body class="bg-secondary-subtle">
    <h1>Edit Post</h1>
    <form method="post" class="form-control form-control-lg bg-dark-subtle pt-4 mt-4 opacity-20" placeholder=".form-control-lg">
        {% csrf_token %}
        {{ form| crispy}}
        
        <input type="submit" value="Edit" class="btn btn-success opacity-20">

        <a href="{% url 'post_detail' post.id%}" class="btn btn-danger">Cancel</a>

    </form>
</body>  
{% endblock %}